<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RiddleTown</title>
    <link rel="stylesheet" href="{% static 'CSS/homeNoLoginStyles.css' %}">

    <!-- <link rel="stylesheet" href="CSS/homeNoLoginStyles.css"/> -->
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href=""><img src="{% static 'IMG/logoV2.0.png' %}" alt="RiddleTown Logo"/></a>
        </div>
        <div class="lineLogo"></div>
            <ul>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/usuario.png' %}" alt="Usuario" class="sideImages"/>Perfil</a></div></li>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/piezas-de-rompecabezas.png' %}" alt="Categorías" class="sideImages"/>Categorías</a></div></li>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/trofeo.png' %}" alt="Ranking" class="sideImages"/>Ranking</a></div></li>
                <div class="lineMenuContainer"><div class="lineMenu"></div></div>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/engranaje.png' %}" alt="Configuración" class="sideImages"/>Configuración</a></div></li>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/signo-de-interrogacion.png' %}" alt="Ayuda" class="sideImages">Ayuda</a></div></li>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/iniciar-sesion.png' %}" alt="Iniciar Sesión" class="sideImages"></a></div></li>
                <li><div class="optionContainer"><a href="" class="optionLink"><img src="{% static 'IMG/sidebar/sol.png' %}" alt="Cambiar modo" class="sideImages2"></a></div></li>
            </ul>
        </div>

    <div class="main-content">
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>