<!DOCTYPE html>
{% load static i18n %}
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RiddleTown - {% trans "Registrar" %}</title>
    <link rel="stylesheet" href= "{% static 'CSS/loginAndRegistrerStyles.css' %}"/>
    <link rel="icon" type="image/jpg" href="{% static 'IMG/logoV1.1.png' %}"/>
</head>
<body>
    <div class="card">
        <div class="logo">
            <a href="/">
                <img src="{% static 'IMG/logoV1.0.png' %}" alt="Logo versión full color"/>
            </a>
        </div>
        <div class="form">
            <h2> {% trans "¡Regístrate! ¡Únete a nosotros!" %} </h2>
            <form>
                <input type="text" name="User" placeholder="Correo electrónico">
                <br>
                <div class="password-container">
                    <input type="password" name="Password" placeholder="Contaseña">
                    </span><img src="{% static 'IMG/eyePassword.png' %}" class="eye-icon" alt="Mostrar/Ocultar contraseña">
                </div>
                <br>
                <input type="submit" value="{% trans "Registrar" %}">
                <br>
                <a href="/login">{% trans "¿Ya tienes una cuenta?" %}</a>
            </form>
        </div>
    </div>
</body>
</html>