/* FORMULARIOS */

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.form-group2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.buttonAux{
    align-items: center;
}

label {
    font-weight: bold;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.calendar-button,
.load-button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #504673;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calendar-button:hover,
.load-button:hover {
    background-color: #504673;
}

.submit-button {
    width: 15%;
    padding: 15px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    background-color: #504673;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #453876;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #1D3D59;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #1D3D59;
    transition: background-color 0.3s ease;
    height: 35%;
}

.form-button:hover {
    background-color: #e0e0e0;
}

.arrow-icon {
    width: 1.5vw;
}

.buttonPlay{
    background-color: #f25e3d;
    color: #1D3D59;
    padding: 10px 20px;
    border-radius: 50px;
    width: 10%;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.buttonPlayContainer{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.configuracion{
    text-decoration: underline;
    color: #1D3D59;
}

.language{
    font-size: small;
}

.spanish{
    font-size: 1.5em;
}

.lineMenuContainer{
    width: 70%;
}