body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: white;
}

.sidebar{
    width: 20vw;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../IMG/VectorMenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: 113.8% 113%;
    background-position-x: 6vw;
    background-position-y: -3vw;
}

.sidebar .logo{
    display: flex;
    justify-content: center;
}

.sidebar .logo img{
    width: 13vw;
}

.lineLogo{
    background-color: #f35e3d;
    padding: 1px;
    margin-top: 10px;
    width: 85%;
}

.lineMenu{
    background-color: #f35e3d;
    padding: 1px;
    width: 13.5vw;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li{
    margin: 15px 0;
}

.sidebar ul li a{
    text-decoration: none;
    color: #1D3D59;
    font-size: 1.2em;
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 2%;
    color: #1D3D59;
    text-align: center;
}

.buttonPlay{
    background-color: #f25e3d;
    color: #1D3D59;
    padding: 10px 20px;
    border-radius: 50px;
    width: 10%;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.buttonPlayContainer{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.sideImages{
    width: 4.7vh;
    margin-right: 1.5vh;
}

.sideImages2{
    width: 6.5vh;
    margin-right: 1.5vh;
}

.optionContainer{
    display: flex;
}

.optionLink{
    display: flex;
    margin-top: 5px;
}

.goBack{
    width: 9vh;
    height: 9vh;
}

.lineMenuContainer{
    width: 100%;
}

@media (max-width: 1290px){

    h2{
        margin-top: 0;
        font-size: 1.1rem;
    }

    p{
        font-size: 1rem;
    }

    .sidebar{
        position: absolute;
        left: -100%;
        transition: left 0.1s ease;
        width: 400px;
        height: 100%;
        background-image: none;
        justify-content: left;
        display: none;
    }

    .backgroundOpacity{
        position: fixed;
        left: -100%;
        height: 100%;
        z-index: 100;
        background-color: hsla(280, 100%, 5%, 0.6);

    }

    .backgroundOpacity.active{
        left: 400px;
        width: 100%;
    }

    .sidebar.active {
        left: 0;
        display: flex;
        position: fixed;
        
    }

    .lineLogo{

        width: 100%;
    }
    
    .lineMenu{
        width: 100%;
        background-color: #ef7e65;
    }

    .lineMenuContainer{
        width: 100%;

    }

    .buttonPlay{
        background-color: #f25e3d;
        color: #1D3D59;
        padding: 10px 20px;
        border-radius: 50px;
        width: 25%;
        font-size: 1.2em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }

    .goBack{
        width: 5vh;
        height: 5vh;
        min-width: 60px;
        min-height: 60px;
    }
    
}