{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>RiddleTown - Configuración</title>
<link rel="stylesheet" href="{% static 'CSS/configuration.css' %}"/>
<link rel="stylesheet" href="{% static 'CSS/configuration2.css' %}"/>

{% endblock %}


{% block content%}

<div class="mainview">
    <a href="homeNoLogged.html"><img src="{% static 'IMG/flecha.png' %}" alt="Atrás" class="goBack"/></a>
    <d iv class="main">
        <div class="space"></div>
        <div class="mainContent">

            <h2>Configuración</h2>
            <div class="form-container">
                <a href="" class="form-button">
                    <span class="language">
                        Idioma
                        <br>
                        <span class="spanish">Español</span>
                    </span>
                    <img src="{% static 'IMG/flechaAbajo.png' %}" class="arrow-icon"></span>
                </a>
            </div>
            <div class="space"></div>
        </div>
    </div>
</div>
{% endblock %}


