{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<title>RiddleTown - {% trans "Configuración" %}</title>
<link rel="stylesheet" href="{% static 'CSS/configuration.css' %}"/>
<link rel="stylesheet" href="{% static 'CSS/configuration2.css' %}"/>
<link rel="icon" type="image/jpg" href="{% static 'IMG/logoV1.1.png' %}"/>

{% endblock %}


{% block content%}

<div class="mainview">
    {% include 'back_component.html' %}
    <div class="main">
        <div class="space"></div>
        <div class="mainContent">
            <h2>{% trans "Configuración" %}</h2>
            <div class="form-container">
                <div class="form-button">
                    <span class="language">
                        <form action="/submit" method="post">
                            {% trans "Idioma" %} <br>
                            <div class="form-group">
                                <select class="editOptions" id="options" name="options">
                                    <option value="option0">Español</option>
                                    <option value="option1">English</option>
                                    <option value="option2">日本語</option>
                                    <option value="option3">中文</option>
                                    <option value="option4">한국어</option>
                                </select>
                            </div>
                        </form>
                    </span>
                </div>

            </div>
            <div class="space"></div>
        </div>
    </div>
</div>
{% endblock %}


