{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>RiddleTown - Editar perfil</title>
<link rel="stylesheet" href="{% static 'CSS/editProfile.css' %}"/>
<link rel="stylesheet" href="{% static 'CSS/editProfile2.css' %}"/>
{% endblock %}


{% block content%}
<div class="mainview">
    <a href="homeLogged.html"><img src="{% static 'IMG/flecha.png' %}" alt="Atrás" class="goBack"/></a>
    <div class="main">
        <div class="space"></div>
        <div class="mainContent">

            <h2>Editar perfil</h2>
            <div class="editContainer">
                <div class="profileImage">
                    <img src="{% static 'IMG/user.png' %}" alt="User" class="avatar"/>
                    <span class="alias">Alias</span>
                    <div class="changeImage">
                        Cambiar foto
                    </div>
                </div>

                <div class="profileAlias">
                    <span class="alias2">
                        Alias <br>
                        <span class="editAlias">Usuario1</span>
                    </span>
                </div>

                <h4 class="directionTitle">Dirección</h4>
                <div class="profileDirection">
                    <a href="" class="directionButton">
                        <span class="country">
                            País <br>
                            <span class="venezuela">Venezuela</span>
                        </span>
                        <img src="{% static 'IMG/flechaAbajo.png' %}" class="arrow-icon"></span>
                    </a>

                    <a href="" class="cityButton">
                        <span class="country">
                            Estado <br>
                            <span class="caracas">Caracas</span>
                        </span>
                        <img src="{% static 'IMG/flechaAbajo.png' %}" class="arrow-icon"></span>
                    </a>

                    <div class="directionTextArea">
                        <span class="direction">
                            Dirección <br>
                            <span class="resUCV">ResidenciasUCV</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="space"></div>

            <div class="saveChangesContainer">
                <a href="#" class="saveChangesButton"><strong>Guardar cambios</strong></a>
            </div>

            <div class="buttonPlayContainer">
                <a href="#" class="buttonPlay"><strong>¡Jugar!</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
