{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<title>RiddleTown - {% trans "Ayuda" %}</title>
<link rel="stylesheet" href="{% static 'CSS/helpLoggedStyles.css' %}"/>
<link rel="icon" type="image/jpg" href="{% static 'IMG/logoV1.1.png' %}"/>
{% endblock %}


{% block content%}
{% include 'back_component.html' %}
<div class="mainContent">
    <h2>{% trans "¿Cómo jugar?" %}</h2>
    <div class="section">
        <p>
            {% trans "Pon a prueba tus conocimientos en una variedad de categorías con preguntas desafiantes y divertidas. En cada ronda, se te presentará una pregunta con cuatro opciones de respuesta (texto o imágenes). Tu objetivo es elegir la respuesta correcta." %}
        </p>
    </div>
    <h2>{% trans "Premios" %}</h2>
    <div class="section">
        <p>
            {% trans "Pon a prueba tus conocimientos y diviértete mientras acumulas puntos para obtener premios increíbles. En cada trivia que completes, sumarás puntos que te acercarán a la cima del ranking. Al final de la temporada, los 3 mejores jugadores serán recompensados con premios que te dejarán sin aliento." %}
        </p>
        <p>
            {% trans "Prepárate para una experiencia llena de sorpresas y adrenalina. Mientras juegas tus trivias favoritas, tendrás la oportunidad de ganar premios instantáneos en cualquier momento, al responder la pregunta correctamente. La frecuencia de aparición es variada y depende de la temporada. También hay cantidad limitada." %}
        </p>
    </div>
    <h2>{% trans "Reclame de premios" %}</h2>
    <div class="section">
        <p>
            {% trans "Si tienes premios acumulados, la forma de reclamarlos es desde tu perfil. Para poder reclamar premios monetarios, tendrás que asociar tu cuenta de Paypal a tu perfil. En caso de premios físicos, tendrás que asociar tu dirección." %}
        </p>
    </div>
    <a href="/">
        {% include 'play_component.html' %}    
    </a>
</div>
{% endblock %}
