{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<title>RiddleTown</title>
<link rel="stylesheet" href="{% static 'CSS/homeNoLoginStyles.css' %}"/>
<link rel="icon" type="image/jpg" href="{% static 'IMG/logoV1.1.png' %}"/>
{% endblock %}


{% block content%}

<div class="main-content">
    <div class="background" id="background"></div>
    <div class="content">
        <div class="popup" id="myPopup">
            <h2>Premios de la temporada</h2>
            <h3>¡Gana premios emocionantes con nuestro sistema de trivias!</h3>
            <p>Pon a prueba tus conocimientos y diviértete mientras acumulas puntos para obtener premios increíbles. En cada trivia que completes, sumarás puntos que te acercarán a la cima del ranking. Al final de la temporada, los 3 mejores jugadores serán recompensados con premios que te dejarán sin aliento. ¡Gana puntos!</p>
            <button class="close" onclick="closePopup(); closeBackground()">&times;</button>
          </div>
        <div class="awards">
            <div class="prev"><a href="#"><img src="{% static 'IMG/flechaCarruselI.png' %}" alt="Hacia atrás"></a></div>
            <div class="premioFisico">
                <img src="{% static 'IMG/premiosFisicos.png' %}" alt="Premio físico"/>
            </div>
            <div class="awardsPositionsContainer">
                <h2>{% trans "Premios de la temporada" %}</h2> 
                <div class="awardPosition"><strong>{% trans "Primer lugar" %}: Monitor Asus</strong></div>
                <div class="awardPosition"><strong>{% trans "Segundo lugar" %}: Teclado mecánico</strong></div>
                <div class="awardPosition"><strong>{% trans "Tercer lugar" %}: Mouse</strong></div>
                <div class="buttonAwardsContainer">
                    <a href="#" class="buttonAwards" onclick="openPopup(); openBackground()">{% trans "Ver más" %}</a>
                </div>
            </div>
            <div class="next"><a href="#"><img src="{% static 'IMG/flechaCarruselD.png' %}" alt="Hacia adalente"></a></div>
        </div>

        <div class="top-ranking">
            <h2>{% trans "Podio de los clasificados" %}</h2>
            <ol class="ranking">
                <li>
                    <div class="namePerson">Kaveh</div>
                    <div class="points">9000 {% trans "puntos" %}</div>
                </li>
                <li>
                    <div class="namePerson">Rafax2002</div>
                    <div class="points">8900 {% trans "puntos" %}</div>
                </li>
                <li>
                    <div class="namePerson">TriviaBlaster10</div>
                    <div class="points">6500 {% trans "puntos" %}</div>
                </li>
            </ol>
            
            <div class="buttonRankingContainer">
                <a href="ranking" class="buttonRanking">{% trans "Ver la clasificación" %}</a>
            </div>
        </div>

        <h2>{% trans "Categorías" %}</h2>
        <div class="category-icons">
            <div class="category"><img src="{% static 'IMG/categories/mundo.jpg' %}" alt="World"></div>
            <div class="category"><img src="{% static 'IMG/categories/libros.jpg' %}" alt="History"></div>
            <div class="category"><img src="{% static 'IMG/categories/quimica.jpg' %}" alt="Science"></div>
            <div class="category"><img src="{% static 'IMG/categories/cine.jpg' %}" alt="Cinema"><p></p></div>
            <div class="category"><img src="{% static 'IMG/categories/musica.jpg' %}" alt="Music"></div>
            <div class="category"><img src="{% static 'IMG/categories/futbol.jpg' %}" alt="Sport"></div>
            <div class="category"><img src="{% static 'IMG/categories/arte.jpg' %}" alt="Art"></div>
            <div class="category"><img src="{% static 'IMG/categories/museo.jpg' %}" alt="Museum"></div>
        </div>
    </div>
    <p class="selectCategory">{% trans "Selecciona una categoría antes de jugar" %}</p>
    {% include 'play_component.html' %}

    <script>
        function openPopup() {
          document.getElementById("myPopup").style.display = "block";
        }
        function closePopup() {
          document.getElementById("myPopup").style.display = "none";
        }
        function openBackground() {
          document.getElementById("background").style.display = "block";
        }
        function closeBackground() {
          document.getElementById("background").style.display = "none";
        }
      </script>

</div>

{% endblock %}

