{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<title>RiddleTown - {% trans "Jugar" %}</title>
<link rel="stylesheet" href="{% static 'CSS/historyTrivia.css' %}"/>
<style>
    .upperDecorationContainer{  background-image: url("{% static category.barVector%}");}
    .question{                  background-image: url("{% static category.questionVector%}");}
</style>


{% endblock %}


{% block content%}

    <div class="upperDecorationContainer">
        <div class="decorationIconContainer">
            <a href="/categories">
                <img src="{% static 'IMG/flecha.png' %}" alt="Atrás" class="decorationIcon"/>
            </a>
        </div>

        <div class="decorationIconContainer"><img src="{% static category.icon %}" alt="Play" class="decorationIcon"/></div>
        <img src="" alt=""/>
    </div>
    
    <div class="subContainer">
        <div class="question">
            <p>
                ¿Cuál es el hechizo que permite a un <br >mago hacer levitar objetos en la saga <br> Harry Potter?
            </p>
        </div>
    </div>

    <div class="optionsContainer">
        <div class="option r1"><a href="historyTriviaCorrect.html">Wingardium Leviosa</a></div>
        <div class="option r2"><a href="historyTriviaIncorrect.html">Accio</a></div>
        <div class="option r1">Expecto Patronum</div>
        <div class="option r2">Lumos</div>
    </div>

    <p class="selectOption">{% trans "¡Selecciona una opción!" %}</p>
    <div class="buttonPlayContainer">
        <a href="#" class="buttonPass"><strong>{% trans "Saltar pregunta" %}</strong></a>
    </div>


{% endblock %}





       