{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<title>RiddleTown - {% trans "Jugar" %}</title>
<link rel="stylesheet" href="{% static 'CSS/historyTrivia.css' %}"/>
<style>
    .upperDecorationContainer{  background-image: url("{% static category.barVector%}");}
    .question-notImage{                  background-image: url("{% static category.questionVector%}");}
</style>
<script>
    function delayedSubmit(answerID, res){
        document.getElementById('selectedAnswer').value = answerID;
        //document.getElementById('timeInput').value = document.getElementById('counter').value;
        el = document.getElementById(answerID)
        hermanos = el.parentElement.children
        for (let hijo of hermanos){
            hijo.style.backgroundColor = "#EBEBEB"
        }
        puntos = 0
        if(res){
            el.style.backgroundColor = "#8ED697"
            puntos+=100
            if(document.getElementById('timeInput').value>0){
                puntos+=200
            }
        }else{
            el.style.backgroundColor = "#C55052"
        }
        /*          llamar popoup indicando puntos                */

        setTimeout(() => { document.getElementById('triviaQuestion').submit(); }, 3000); // set timout 
    }

</script>

{% endblock %}


{% block content%}
    <form action="." method="POST" id="triviaQuestion">
        {% csrf_token %}
        <div style="visibility: hidden;">
            <div style="display: none;">
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <input type="hidden" name="category" value="{{category.name}}">
                                            <input type="hidden" name="total" value="{{total}}">
                                            <input type="hidden" name="done" value="{{ done }}">
                                            <input type="hidden" name="canSkip" value="{{canSkip}}">
                                            <input type="hidden" name="user" value="{{user}}">
                                            <input type="hidden" id="selectedAnswer" name="selectedAnswer" value="-1">
                                            <input type="hidden" id="timeInput" name="time" value="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="upperDecorationContainer">
            <div class="decorationIconContainer">
                <a href="/categories">
                    <img src="{% static 'IMG/flecha.png' %}" alt="Atrás" class="decorationIcon"/>
                </a>
            </div>

            <div class="decorationIconContainer"><img src="{% static category.icon %}" alt="Play" class="decorationIcon"/></div>
            <img src="" alt=""/>
        </div>
        
        <div class="subContainer">
            {% if trivia.questionType == 'text'%}
                <div class="question question-notImage">
                    <p>
                        {{trivia.questionText}}
                    </p>
                </div>
                {% elif trivia.questionType == 'audio' %}
                <div class="question question-notImage">
                    <p>
                        {{trivia.questionText}}
                    </p>
                    <audio controls preload="auto" src= "{% static trivia.questionAudio %}">
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </div>
                {% elif trivia.questionType == 'image' %}
                
                <div class="question question-notImage">
                    <p>
                        {{trivia.questionText}}
                    </p>
                    <br>
                    <img src="{% static trivia.questionImage %}">
                </div>
            {% endif %}
        </div>
        <div class="optionsContainer">
            {% for answer in answers %}
                <div class="option" onclick="delayedSubmit('{{answer.answerID}}', {%if answer.correctAnswer == True %} true {% else %} false {% endif %} )" id = "{{answer.answerID}}">
                    {% if answer.answerType == 'text' %}
                        {{answer.answerText}}
                    {% elif answer.answerType == 'image' %}
                        <img src="{% static answer.answerImage %}">
                    {% endif %}
                </div>
            {% endfor %}

        </div>

        <p class="selectOption">{% trans "¡Selecciona una opción!" %}</p>
        {% if canSkip == 1 %}
        <div class="buttonPlayContainer">
            <button class="buttonPass" type="submit" onclick="document.getElementById('canSkip').value = 0"><strong>{% trans "Saltar pregunta" %}</strong></button>
        </div>
        {% endif %}
    </form>

{% endblock %}





       